body {
  margin: 0;
  color: #333;
  font-family: PingFangSC-Regular;
  font-weight: 300;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:visited {
  color:#333; 
}
a:hover {
  color:#DB2C15;
}